.popup {
  visibility: hidden;
  width: fit-content;
  height: auto;
  background-color: var(--sidebar-bg);
  font-weight: 600;
  color: var(--fg);
  text-align: center;
  border-radius: 30px;
  padding: 12px;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 1000;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}