/* TEXT FIELD */

.text-panel {
    width: 80%;
    height: auto;
}

.text-panel h2 {
    margin-bottom: 15px;
}

.text-panel textarea {
    margin-left: 8px;
    width: 94%;
    height:80%;
    min-height:180px;
    border:1px solid var(--input-border);
    border-radius: 12px;
    background: transparent;
    color:var(--fg);
    padding: 15px;
    font-size:1rem;
    font-family:inherit;
    resize:none;
}

/* SIDEBAR WTIH TOOLS */

#qrcode-holder {
    width: 100%;
    height: auto;
    border: 1px solid var(--btn-hover);
    background: var(--qr-bg);
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#qrcode-holder img {
    margin: 20px;
    width: auto;
    height: auto;
    border-radius: 4px;
}

.card.toolbar.qr {
    width: 20%;
    min-width: 300px;
    height: auto;
    padding: 15px;
    background: var(--sidebar-bg);
}


.card.toolbar.qr h3 {
    margin-bottom: 20px;
}

.tools {
    display:flex;
    flex-direction:column;
    gap:20px;
}

.tools button {
    font-weight: 550;
    color: var(--fg);
    background:var(--btn-hover);
    border:none;
    padding:10px 12px;
    text-align:left;
    border-radius:8px;
    cursor:pointer;
    text-align:left;
}

.tools button:hover {
    background-color: var(--btn-active);
}